

        <section class="section-padding-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="post-content">

                            <article class="post-wrapper transition mb-70">
                                <header class="post-header">
                                    <div class="post-thumbnail">
                                        <a href="single-blog-right-sidebar.html">
                                            <img src="assets/img/blog-img/blog-img-1.jpg" alt="">
                                        </a>
                                    </div>
                                </header>
                                <div class="blog-content transition">
                                    <div class="entry-header mb-20">
                                        <h2>
                                            <a href="single-blog-right-sidebar.html">Local SEO Spam Tactics Are Working: How You Can Fight Back</a>
                                        </h2>
                                    </div>
                                    <div class="entry-content link-arrow-ltr">
                                        <p>Trained as industrial designers we have a deep-rooted belief in rational function and sustainable aesthetics. Our methodical approach is focused on revealing the essence of each design challenge to allow us to create.</p>
                                        <a href="single-blog-right-sidebar.html">Read More <img src="assets/img/useful-link-right-arrow.png" alt=""></a>
                                    </div>
                                </div>
                            </article>

                        </div> <!-- /.post-content -->

                        <!-- pagination -->
                        <div class="page-pagination">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a class="pagination-prev" href="#" aria-label="Previous"><span class="fa fa-angle-left" aria-hidden="true"></span>Pre</a>
                                    </li>
                                    <li><a class="active-page" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a class="pagination-next" href="#" aria-label="Next">Next<span class="fa fa-angle-right"></span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- pagination -->


                    </div> <!-- /.col-md-8 -->

                    <div class="col-md-4">
                        <div class="tt-sidebar-wrapper">

                            <div class="widget categories-widget mb-50">
                                <h3 class="widget-title">Categories</h3>
                                <ul class="categories-list list-unstyled">
                                    <li>
                                        <a href="#">Entrepreneur <span>39</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Innovation <span>623</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Startup <span>8</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Strategy <span>24</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Tech <span>2</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Marketing <span>16</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Trends <span>9</span></a>
                                    </li>
                                </ul>
                            </div> <!-- /.widget -->

                            <div class="widget latest-news-widget mb-50">
                                <h3 class="widget-title">Latest News</h3>

                                <div class="media">
                                    <a href="single-blog-right-sidebar.html" class="media-left">
                                        <img src="assets/img/latest-news-img/latest-news-img-1.jpg" alt="">
                                    </a>
                                    <div class="media-body">

                                        <h3>
                                            <a href="single-blog-right-sidebar.html">Local SEO Spam Tactics Arew Working: How You Canfight Back</a>
                                        </h3>

                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li>November 20,2016</li>
                                            </ul>
                                        </div>

                                    </div>
                                </div> <!-- /.media -->

                                <div class="media">
                                    <a href="single-blog-right-sidebar.html" class="media-left">
                                        <img src="assets/img/latest-news-img/latest-news-img-2.jpg" alt="">
                                    </a>
                                    <div class="media-body">

                                        <h3>
                                            <a href="single-blog-right-sidebar.html">Do We Still Need to Disavow in the Era of Penguin 4.0?</a>
                                        </h3>

                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li>November 20,2016</li>
                                            </ul>
                                        </div>

                                    </div>
                                </div> <!-- /.media -->

                                <div class="media">
                                    <a href="single-blog-right-sidebar.html" class="media-left">
                                        <img src="assets/img/latest-news-img/latest-news-img-3.jpg" alt="">
                                    </a>
                                    <div class="media-body">

                                        <h3>
                                            <a href="#">The Step-By-Step Guide to Testing Voice Search Via PPC</a>
                                        </h3>

                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li>November 20,2016</li>
                                            </ul>
                                        </div>

                                    </div>
                                </div> <!-- /.media -->

                                <div class="media">
                                    <a href="single-blog-right-sidebar.html" class="media-left">
                                        <img src="assets/img/latest-news-img/latest-news-img-4.jpg" alt="">
                                    </a>
                                    <div class="media-body">

                                        <h3>
                                            <a href="single-blog-right-sidebar.html">Online Games How To Play To Win</a>
                                        </h3>

                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li>November 20,2016</li>
                                            </ul>
                                        </div>

                                    </div>
                                </div> <!-- /.media -->

                                <div class="media">
                                    <a href="single-blog-right-sidebar.html" class="media-left">
                                        <img src="assets/img/latest-news-img/latest-news-img-5.jpg" alt="">
                                    </a>
                                    <div class="media-body">

                                        <h3>
                                            <a href="single-blog-right-sidebar.html">A Right Media Mix Can Make The Difference</a>
                                        </h3>

                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li>November 20,2016</li>
                                            </ul>
                                        </div>

                                    </div>
                                </div> <!-- /.media -->

                            </div> <!-- /.widget -->

                            <div class="widget add-widget mb-50">
                                <img src="assets/img/blog-widget-add-img.jpg" class="img-responsive" alt="">
                            </div>

                        </div> <!-- /.tt-sidebar-wrapper -->
                    </div> <!-- /.col-md-4 -->
                </div> <!-- /.row -->
            </div>
        </section>
