<div class="widget latest-news-widget mb-50" id="desktop">
    <h3 class="widget-title">Latest News</h3>

    <div class="media">
        <a href="single-blog-right-sidebar.html" class="media-left">
            <img src="assets/img/latest-news-img/latest-news-img-1.jpg" alt="">
        </a>
        <div class="media-body">

            <h3>
                <a href="single-blog-right-sidebar.html">Local SEO Spam Tactics Arew Working: How You Canfight Back</a>
            </h3>

            <div class="entry-meta">
                <ul class="list-inline">
                    <li>November 20,2016</li>
                </ul>
            </div>

        </div>
    </div> <!-- /.media -->

    <div class="media">
        <a href="single-blog-right-sidebar.html" class="media-left">
            <img src="assets/img/latest-news-img/latest-news-img-2.jpg" alt="">
        </a>
        <div class="media-body">

            <h3>
                <a href="single-blog-right-sidebar.html">Do We Still Need to Disavow in the Era of Penguin 4.0?</a>
            </h3>

            <div class="entry-meta">
                <ul class="list-inline">
                    <li>November 20,2016</li>
                </ul>
            </div>

        </div>
    </div> <!-- /.media -->

    <div class="media">
        <a href="single-blog-right-sidebar.html" class="media-left">
            <img src="assets/img/latest-news-img/latest-news-img-3.jpg" alt="">
        </a>
        <div class="media-body">

            <h3>
                <a href="#">The Step-By-Step Guide to Testing Voice Search Via PPC</a>
            </h3>

            <div class="entry-meta">
                <ul class="list-inline">
                    <li>November 20,2016</li>
                </ul>
            </div>

        </div>
    </div> <!-- /.media -->

    <div class="media">
        <a href="single-blog-right-sidebar.html" class="media-left">
            <img src="assets/img/latest-news-img/latest-news-img-4.jpg" alt="">
        </a>
        <div class="media-body">

            <h3>
                <a href="single-blog-right-sidebar.html">Online Games How To Play To Win</a>
            </h3>

            <div class="entry-meta">
                <ul class="list-inline">
                    <li>November 20,2016</li>
                </ul>
            </div>

        </div>
    </div> <!-- /.media -->

    <div class="media">
        <a href="single-blog-right-sidebar.html" class="media-left">
            <img src="assets/img/latest-news-img/latest-news-img-5.jpg" alt="">
        </a>
        <div class="media-body">

            <h3>
                <a href="single-blog-right-sidebar.html">A Right Media Mix Can Make The Difference</a>
            </h3>

            <div class="entry-meta">
                <ul class="list-inline">
                    <li>November 20,2016</li>
                </ul>
            </div>

        </div>
    </div> <!-- /.media -->

</div> <!-- /.widget -->
