    <div class="widget categories-widget mb-20" id="mobileshow">
        <h3 class="widget-title">Categories</h3>
        <ul class="categories-list list-unstyled">
            <li>
                <a href="#">Entrepreneur <span>39</span></a>
            </li>
            <li>
                <a href="#">Innovation <span>623</span></a>
            </li>
            <li>
                <a href="#">Startup <span>8</span></a>
            </li>
            <li>
                <a href="#">Strategy <span>24</span></a>
            </li>
            <li>
                <a href="#">Tech <span>2</span></a>
            </li>
            <li>
                <a href="#">Marketing <span>16</span></a>
            </li>
            <li>
                <a href="#">Trends <span>9</span></a>
            </li>
        </ul>
    </div> <!-- /.widget -->

    <div class="widget categories-widget mb-20" id="mobileshow">
        <input class="form-control" placeholder="Pencarian">
    </div>
