<div class="mb-50 desktop" id="myHeader">
  
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- honeyfact -->
        <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4268093070731551"
           data-ad-slot="5117010229"
           data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

</div>
<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
if (window.pageYOffset >= sticky) {
  header.classList.add("sticky");
} else {
  header.classList.remove("sticky");
}
}
</script>
